*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  background-color: #f8f9f9;
}

.cont {
  margin-left: 150px;
  float: left;
  width: 45%;
}
.vector-cont {
  width: 40px;
  height: 40px;
  background-color: white;
  text-align: center;
  padding-top: 12px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: -100px;
  margin-top: 45px;
  /* justify-content: center; */
}

.header {
  display: flex;
  align-items: center;
}
input {
  border: 1px solid #bcbcbc;
}
.border {
  border-top: 1px solid black;
  margin-right: 74px;
  margin-top: 13px;
}
.one-third {
  font-size: 20px;
  margin-top: 47px;

  font-weight: 400;
}
.personal-info {
  font-size: 24px;
  font-weight: 700;
  color: #1a1a1a;
  margin-right: 598px;
  margin-left: 55px;
  margin-top: 47px;
}
.name-surname-part {
  margin-top: 77px;
  display: flex;
}
.input-name,
.input-surname {
  width: 368px;
  height: 48px;
  margin-top: 8px;
  border-color: #bcbcbc;
}
.input-name {
  margin-right: 56px;
}
.name,
.surname {
  font-size: 16px;
  font-weight: 500;
}

.paragraph {
  font-size: 14px;
  font-weight: 300;
  margin-top: -5px;
  margin-bottom: 54px;

  color: #2e2e2e;
}
.personal-photo {
  display: flex;
  /* align-items: center; */
  margin-bottom: 54px;
}
.photo-text {
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
}

.upload-btn {
  font-size: 1.1rem;
  border: none;
  width: 107px;
  height: 27px;
  background-color: #0e80bf;
  color: white;
  border-radius: 4px;
  text-align: center;
  /* margin-top: 30px; */
}
.about-me {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.form-about-me {
  width: 795px;
  height: 103px;
  margin-bottom: 33px;
  padding-right: 160px;
  padding-top: 13px;
  padding-left: 15px;
  border: 1px solid #bcbcbc;
}
.mail,
.number {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 500;
}
.input-mail,
.input-number {
  width: 795px;
  height: 48px;
}

#resume {
  width: 43%;
  float: right;
  background: white;
  height: 1080px;
}
.cont-resume {
  padding: 68px 0 17px 80px;
}
h1 {
  color: #f93b1d;
  font-size: 34px;
  margin: 68px 133px 17px 80px;
}
.el-post,
.mob-number,
h1,
.about {
  margin-left: 82px;
  margin-bottom: 1rem;
}

.next-link {
  width: 151px;
  height: 48px;
  margin-left: 640px;
  bottom: 65px;
  color: white;
  background-color: #6b40e3;
  font-size: 16px;
}
